

$bg: rgb(248, 245, 243);
$bg-sec: #efe8e4;
$primary: #E47738;
$green: #417358;
$deepBrown: #726251;
$lightBrown: #938980;
$lightBrown2: #d2c8be;

$black-default: #3b3634;
$black-200: #292726;

$shadow: #e9dad2;